html(lang='en')
  head
    meta(charset='UTF-8')
    title Title
    link(rel='stylesheet', href='/stylesheets/style.css')
    
  body
    form(method='post', action='http://localhost:3000/api/addcost')
      br
      label year 
      input(type='text', name='year')
      br
      label month 
      input(type='text', name='month')
      br
      lable day 
      input(type='text', name='day')
      br
      lable description  
      input(type='text', name='description')
      br
      lable category 
      input(type='text', name='category')
      br
      lable sum
      input(type='text', name='sum')
      input(type='submit')
      